{% extends 'main/base.html' %}

{% block title %} Create New List {% endblock %}

{% block content %} 

    <h2>Lista de Tarefas</h2>

    <form method="post" action="/create/" class="form-group">
        {% csrf_token %} <!--Django validation stuff-->

        <div class="input-group mb-3">
            <!--
                {{form.as_table}} - Default
                {{form.as_p}}
                {{form.as_ul}}
            -->
            <div class="input-group-prepend">
                <button type="submit" name="save" class="btn btn-primary">Criar Nova Lista</button>
            </div>

            {{form.name}}
        </div>
    </form>

{% endblock %}